# Variables de entorno
.env

# Dependencias (carpeta grande que NO se sube al repo)
node_modules/

# Logs
*.log

# Directorios de herramientas de desarrollo
.vscode/
.idea/

# Archivos de prueba
test.http
